* {
    box-sizing: border-box;
}

body {
    background-color: #F2F3F5;
}

.bannerTop {
    background-color: #0B0B31;
    
}

.hamburg {
    border: none;
}

.bannerTop a {
    color: #9F9FA1;
}

img {
    width: 50px;
}

.navBtn {
    background-color: #0B0B31;
    color: #F4FBFF;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background-color: #939393;
}

.btnMore {
    background: #213349;
    padding: .65rem .60rem;
    color: #FAFCF7;
    margin-bottom: 1rem;
}

.display-1 {
    font-size: clamp(2.5rem, calc(1rem + 4vw), 5rem);
}

.servicesList {
    list-style-type: "⚙️";
}

.btmSection {
    background: linear-gradient(#1C2D40, #0F1821);
}

.lorem {
    list-style-type: "🗨️";
}

.smHead {
    color: white;
}

.colorText {
    color: #7A7464;
}

.date1 {
    background-color: #BD8441;
}

.date2 {
    background-color: #BC6142;
}

.date3 {
    background-color: #BD425E;
}

.date1, .date2, .date3 {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}

.copyright {
    background-color: #0E1E31;
    color: #9F9FA1;
}